<a href="https://colab.research.google.com/github/Swarup0909/Python-Problem_Solving_top_100_codes/blob/main/finding_smallest_largesr_number.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Problem No 1 :Finding smallest and largest number in given array

In [1]:
import numpy as np
import pandas as pd

In [2]:
array = [1,2,3,4,5,6]

In [3]:
print(array)

[1, 2, 3, 4, 5, 6]

In [4]:
print(type(array))

<class 'list'>

In [5]:
#converting list ot array

In [6]:
array1 = np.array(array)

In [7]:
print(type(array1))

<class 'numpy.ndarray'>

In [8]:
import array

In [10]:
## creating specific array module

In [13]:
array2 = array.array("i",[1,2,3,4,5])

In [14]:
print(type(array2))

<class 'array.array'>

In [30]:
#.function to get smallest and largest element in array
def find_min_max(numbers):
    if not numbers:  # Check if the list is empty
        return None, None  # Return None for both if the list is empty

    # Initialize the smallest and largest variables with the first element of the list
    smallest = largest = numbers[0]

    # Iterate through the list to find the smallest and largest numbers
    for num in numbers[1:]:
        if num < smallest:
            smallest = num
        if num > largest:
            largest = num

    return smallest, largest

In [31]:

# Example usage
numbers = [34, 12, 56, 78, 23, 89, 5, 67]
min_num, max_num = find_min_max(numbers)

print("Smallest number:", min_num)
print("Largest number:", max_num)

Smallest number: 5
Largest number: 89